/* Fonts */
@font-face {
    font-family: "Viner";
    src: url("../fonts/VINERITC.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/GOTHIC.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/GOTHICB.TTF") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/GOTHICI.TTF") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/GOTHICBI.TTF") format("truetype");
    font-weight: bold;
    font-style: italic;
}

/* General ----------------------------------------------------------------- */

body {
    margin: 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: #0A7E00;
}
main {
    padding-top: 64px;

}
h1 {
    font-family: "Viner";
    font-size: 3rem;
    color: #064A00;
}
h2 {
    font-family: "Viner";
    font-size: 2rem;
}
h3 {
    font-family: "Century Gothic", "Open Sans", sans-serif;
    font-size: 1.3rem;
    color: #064A00;
    text-transform: uppercase;
    line-height: 1.2;
}
p, li {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #064A00;
}

.anchor {
    position: relative;
    top: -120px;
    visibility: hidden;
}

/* HEADER ------------------------------------------------------------------- */
.header {
    background-color: #F0EED8;
    width: 100%;
    min-height: 64px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #F7FAF3;
}

/* Icon */
.descanso {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
    width: 25%;
}
.icon img {
    height: 45px;
    width: auto;
    vertical-align: center;
    padding-right: 0.5rem;
}
.icon-txt img {
    height: 60px;
    width: auto;
    vertical-align: center;
}
/* #descanso-txt {
    color: #064A00;
    font-family: "Viner";
    font-size: 1.7rem;
} */

/* Navbar */
.navbar {
    width: 75%;
    font-family: "Century Gothic", "Open Sans", sans-serif;
}
.navbar ul {
    display: inline-flex;
    width:100%;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0.5rem 0 0.5rem 0.5rem;
}
.navbar li {
    padding: 0.5rem 0 0.5rem 3rem;
}
.navbar a {
    text-decoration: none;
    color: #064A00;
    text-transform: uppercase;
}
#lg, #icon {
    display: none;
}

/* Header States ---------------------------------------------*/
.navbar a:hover {
    font-weight: bold;
    transition: font-weight 0.1s ease-in-out;
}
.navbar a:active {
    color: #0A7E00;
    font-size: 1.2rem;
    transition: color .1s ease-in, font-size .1s ease-in;
}
/* Header Media ---------------------------------------------*/
@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
        justify-content: space-around;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .descanso {
        display: none;
    }
    .navbar {
        width: 100%;
    }
    .navbar #navbar-txt {
        display: none;
    }
    #icon {
        display: list-item;
        padding: 0.2rem 0 0.2rem 0;
    }
    #icon img {
        display: block;
        height: 36px;
        width: auto;
    }
    #lg {
        display: inline-block;
        color: #064A00;
        font-size: 1.5rem;
    }
    .navbar ul {
        display: inline-flex;
        width:100%;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0.5rem 0 0.5rem 0;
    }
    .navbar li {
        padding: 0.5rem 0 0.5rem 0;
    }
    .navbar i:hover {
        font-size: 1.8rem;
        transition: font-size 0.1s ease-in;
    }
    .navbar i:active {
        color: #0A7E00;
        transition: color .1s ease-in;
    }
    #icon img:hover {
        height: 40px;
    }
    .anchor {
        top: -90px;
    }
}

/* BANNER ------------------------------------------------------------------- */
.banner {
    background-color: #0A7E00;
    width: 100%;
    height: auto;
    display: inline-flex;
    padding: 30px 0 30px 0;
    max-height: 450px;
}
/* si quiero el banner a pantalla completa padding: 120px 0 110px 0; max-height: 620px; */
#img-container-logo {
    width: 33%;
    min-width: 330px;
    height: auto;
    overflow: hidden;
    padding: 0;
    display: block;
    padding-top: 30px;
    flex-shrink: 1;
}
#img-container-logo img {
    width: 100%;
    height: auto;
    display: block;
}
.txt-container-logo {
    display: flex;
    flex-direction: column;
    width: 65%;
    flex-shrink: 1;
}
.banner h1 {
    font-size: 8rem;
    color: #F7FAF3;
    padding-top: 90px;
    margin-left: -50px;
}
.banner h2 {
    font-size: 3.3rem;
    color: #F7FAF3;
    padding-left: 90px;
}

/* Banner Media ---------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .txt-container-logo {
        width: 100%;
    }
    .banner h1 {
        font-size: 5.4rem;
        color: #F7FAF3;
        margin-left: -80px;
    }
    .banner h2 {
        font-size: 2.2rem;
        color: #F7FAF3;
        padding-left: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .banner {
        display: block;
        padding: 140px 0 60px 0;
    }

    #img-container-logo {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 380px;
        padding-top: 0;
    }
    .txt-container-logo {
        width: 100%;
        position: relative;
        margin: 0 auto;
        top: -460px;
    }
    .banner h1 {
        font-size: 4rem;
        color: #F7FAF3;
        padding-top: 80px;
        margin: 0 auto;
    }
    .banner h2 {
        font-size: 1.5rem;
        color: #F7FAF3;
        padding-left: 80px;
        margin: 0 auto;
    }
}

/* INFO ---------------------------------------------------------------------------------------------------------- */
.article {
    margin: 3rem auto;
    background-color: #F0EED8;
    width: 85%;
    height: auto;
    min-height: 500px;   
    padding: 2rem;
    border: 6px solid #F7FAF3;
    border-radius: 10px;
}
.article h1 {
    line-height: 1.2;
    padding-bottom: 1rem;
}
.article i{
    color: #064A00;
    font-size: 2rem;
    padding-right: 1rem;
}
.info-button {
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: #064A00;
    color: #F7FAF3;
    border-radius: 10px;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: none;
    margin-top: 1.5rem;
}
.article h3 {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
.article p {
    padding-top: 1rem;
    line-height: 1.3;
    text-align: justify;
}


/* Info States ---------------------------------------------*/
.article i:hover {
    font-size: 2.2rem;
    color: #0A7E00;
    transition: font-size 0.1s ease-in, color .1s ease-in;
}
.article i:active {
    border-radius: 5px;
    background-color: #064A00;
    padding: 0.2rem 0.2rem;
    margin-right: 0.5rem;
    color: #F7FAF3;
    transition: color .1s ease-in, background-color .1s ease-in, font-size .1s ease-in;
}
.info-button:hover {
    background-color: #0A7E00;
}
.info-button:active {
    font-size: 1rem;
}

/* Info Media ---------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .article {
        margin: 3rem auto;
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .article {
        margin: 2rem auto;
        width: 96%;
        padding: 1rem;
        border: none;
        border-radius: 10px;
    }
    .article h1 {
        font-size: 2rem;
        text-align: center;
    }
    .article p, .article li {
        font-size: 0.8rem;
    }
    .article i {
        font-size: 1.6rem;
        padding-right: 0.8rem;
    }
    .article i:hover {
        font-size: 1.8rem;
    }
}


/* SOBRE NOSOTROS ------------------------------------------------------------------- */
.article.nosotros {
    padding: 0;
}
.nosotros .img-container {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border-radius: 10px;
}
.nosotros .img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}
.nosotros h1 {
    padding: 2rem 0 0 2rem;
}
.nosotros-container {
    display: inline-flex;
    flex-direction: column;
    padding-top: 1rem;
}
.nosotros-container p {
    padding: 0;
}
.nosotros-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 2rem 2rem;
}
.nosotros-txt-1 {
    width: 39%;
}
.nosotros-img-container {
    width: 50%;
    height: auto;
    display: block;
    overflow: hidden;
    position: relative;
    top: 70px;
    /* right: 20px; */
}
.nosotros-img-container img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block;
}
#alzado02 {
    display: none;
}

/* Nosotros Media ---------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .nosotros-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 2rem 3rem 2rem;
    }
    .nosotros h1 {
        padding: 2rem 0 0 0;
    }
    .nosotros-txt-1 {
        width: 100%;
    }
    .nosotros-img-container {
        width: 100%;
        position: static;
        padding-top: 1.5rem;
    }
    #alzado01 {
        display: none;
    }
    #alzado02 {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .nosotros-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem 3rem 1.5rem;
    }
    .nosotros h1 {
        padding: 2rem 0 0 0;
    }
    .nosotros-txt-1 {
        width: 100%;
    }
    .nosotros-img-container {
        width: 100%;
        position: static;
        padding-top: 1.5rem;
    }
    #alzado01 {
        display: none;
    }
    #alzado02 {
        display: block;
    }
}


/* EL BAR --------------------------------------------------------------------------- */
.bar-container {
    display: inline-flex;
    flex-direction: column;
}
.bar h3 {
    padding-top: 0;
    padding-bottom: 0.2rem;
    font-family: "Viner";
    font-size: 2rem;
    text-transform: initial;
}
#barh3 {
    padding-top: 2rem;
}
.bar-card {
    /* altura mínima */
    padding: 1rem;
    background-color: #F7FAF3;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.bar .img-container {
    width: 40%;
    height: auto;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}
.bar .img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}
#bbq {
    width: 57%;
    display: inline-flex;
    padding: .5rem;
}
#bbq-txt {
    width: 50%;
}
#bbq-txt p {
    padding: 0;
}
#bbq-list {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    padding-left: 5rem;
    line-height: 2;
}
#bbq-list ul {
    list-style: square;
}


/* Bar Media ---------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .bar-card {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        margin-bottom: 1rem;
    }
    .bar .img-container {
        width: 100%;
    }
    #bbq {
        padding-top: 1rem;
        width: 100%;
    }
    #bbq-list {
        justify-content: center;
        padding-left: 1rem;
    }
    .bar h3 {
        font-size: 1.5rem;
        text-align: left;
        padding-left: 1rem;
    }
    #barh3 {
        padding-top: 1rem;
    }
}
@media only screen and (max-width: 480px) {
    .bar-card {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        margin-bottom: 1rem;
    }
    .bar .img-container {
        width: 100%;
    }
    #bbq {
        display: inline-flex;
        flex-direction: column;
        padding-top: 1rem;
        width: 100%;
    }
    #bbq-list {
        width: 100%;
        justify-content: left;
        padding-left: 3rem;
        padding-top: 1rem;
    }
    #bbq-txt {
        width: 100%;
    }
    .bar h3 {
        font-size: 1.5rem;
        text-align: left;
        padding-left: 1rem;
    }
    #barh3 {
        padding-top: 1rem;
    }
}


/* EL ENTORNO ----------------------------------------------------------------------- */
.entorno-container {
    display: inline-flex;
    justify-content: space-between;
}
.entorno-card-1, .entorno-card-2 {
    /* altura mínima */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #F7FAF3;
    border-radius: 5px;
}
.entorno-card-1 {
    width: 63%;
    height: auto;
}
.entorno-card-2 {
    width: 33%;
    height: auto;
}
.entorno .img-container {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}
.entorno .img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}
#img-gredos-mobile {
    display: none;
}

/* Entorno Media ---------------------------------------------*/
@media only screen and (max-width: 768px) {
    .entorno-container {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }
    .entorno-card-1, .entorno-card-2 {
        width: 100%;
        justify-items: center;
        margin-bottom: 1rem;
    }
    #img-gredos-mobile {
        display: block;
    }
    #img-gredos-web {
        display: none;
    }
}


/* ACTIVIDADES ---------------------------------------------------------------------- */
.actividades-container {
    display: inline-flex;
    justify-content: space-between;
}
.actividades-card {
    width: 31%;
    height: auto;
    /* altura mínima */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #F7FAF3;
    border-radius: 5px;
}
.actividades .img-container {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}
.actividades .img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}
.actividades h3 {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
.actividades p {
    padding-top: 1rem;
    line-height: 1.3;
    text-align: justify;
}

/* Actividades Media ---------------------------------------------*/
@media only screen and (max-width: 768px) {
    .actividades-container {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }
    .actividades-card {
        width: 100%;
        justify-items: center;
        margin-bottom: 1rem;
    }
    
}

/* CÓMO LLEGAR ---------------------------------------------------------------------- */
.article .location {
    min-height: 300px;
}
#direccion {
    display: inline-flex;
    align-items: center;
}
.location .img-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 1rem;
}
.location img {
    max-width: 100%;
    height: auto;
    display: block;
}
#plano02 {
    display: none;
}

/* Cómo llegar Media ---------------------------------------------*/
@media only screen and (max-width: 480px) {
    #plano01 {
        display: none;
    }
    #plano02 {
        display: block;
    }
    .location .img-container {
        padding-top: 1rem;
    }
}



/* FOOTER ------------------------------------------------------------------- */
.footer {
    width: 100%;
    height: 50px;
    margin: 4rem 0 3rem 0;
    background-color: #0A7E00;
    display: flex;
    align-content: center;
    padding: 0 1rem;
}
.footer ul {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
.footer .contacto {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.footer a, .footer p{
    text-decoration: none;
    color: #F7FAF3;
    font-family: "Century Gothic", "Open Sans", sans-serif;
}
.footer #phone-num {
    font-weight: bold;
    font-size: 1.2rem;
}
.footer i {
    font-size: 3rem;
    color: #F7FAF3;
    padding-right: 1rem;
}
#cont-lg {
    padding-left: 2rem;
}

/* Footer States ---------------------------------------------*/
#cont-txt a:hover {
    font-weight: bold;
    transition: font-weight 0.1s ease-in-out;
}
#cont-txt a:active {
    /* color: #064A00; */
    /* font-size: 1.2rem; */
    font-weight: normal;
    /* transition: color .1s ease-in, font-size .1s ease-in; */
}
#cont-lg i:hover {
    font-size: 4rem;
    transition: font-size .1s ease-in-out;
}
#cont-lg i:active {
    border-radius: 10px;
    background-color: #F0EED8;
    padding: 0.1rem 0.3rem;
    margin-right: 1rem;
    color: #064A00;
    transition: color .1s ease-in, background-color .1s ease-in;
}

/* Footer Media ---------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
    #cont-txt {
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    #cont-txt {
        display: none;
    }
    .footer ul {
        justify-content: space-evenly;
    }
    .footer {
        margin: 3rem 0 3rem 0;
        padding: 0 2.1rem;
    }
    #cont-lg i{
        padding-right: 0;
    }
    .footer p{
        font-size: 0.8rem;
    }
    .footer i {
        font-size: 2.5rem;
    }
    .footer #phone-num {
        font-size: 1rem;
        line-height: 1.5;
    }
    #cont-lg i:hover {
        font-size: 3rem;
        transition: font-size .1s ease-in-out;
    }
    #cont-lg i:active {
        font-size: 2.5rem;
        padding: 0.1rem 0.3rem;
        margin-right: 0;
        transition: font-size .1s ease-in-out;
    }
}
